<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>My reservations</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">My reservations</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list *ngIf="currentReservation !== null">
    <ion-list-header>
      <ion-label>Now</ion-label>
    </ion-list-header>
    <ion-card color="primary" (click)="openActionSheet(currentReservation.id)">
      <ion-card-header>
        <ion-card-title>Room {{currentReservation.roomCode}}</ion-card-title>
        <ion-card-subtitle>
          {{ currentReservation.startTime }} - {{ currentReservation.endTime }}
      </ion-card-subtitle>
      </ion-card-header>
    </ion-card>
  </ion-list>

  <ion-list>
    <ion-list-header>
      <ion-label>Today</ion-label>
    </ion-list-header>

    @for (reservation of reservationsForToday; track reservation.id) {
    <ion-card (click)="openActionSheet(reservation.id)">
      <ion-card-header>
        <ion-card-title>Room {{ reservation.roomCode }}</ion-card-title>
        <ion-card-subtitle>{{ reservation.startTime }} - {{ reservation.endTime }}</ion-card-subtitle>
      </ion-card-header>
    </ion-card>
    } @empty {
      <ion-item>
        <ion-label>No reservations for today!</ion-label>
      </ion-item>
    }
  </ion-list>

  
  <ion-action-sheet
    [isOpen]="isActionSheetOpen"
    [buttons]="currentActionSheetButtons"
    (didDismiss)="logResult($event)"></ion-action-sheet>

</ion-content>
