<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Find a room</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Find a room</ion-title>
    </ion-toolbar>
  </ion-header>


  <ion-grid fixed="true" style="max-width: 700px;">
    <ion-card>
      <ion-card-content>
        @if(isFilterMenuOpen) {
          <!-- Building and room -->
          <ion-row  class="ion-align-items-center">
            <ion-col>
              <ion-select
                type="text"
                fill="outline"
                label="Building"
                interface="popover"
                labelPlacement="floating"
                [(ngModel)]="filters.building"
                (ionChange)="getRoomsForSelectedBuilding()"
              >
            
              @for(building of options.buildings; track building.id) {
                <ion-select-option [value]="building"> {{building.code}} </ion-select-option>
              }

              @if (filters.building != null) {
                <ion-button fill="clear" slot="end" (click)="filters.building = null; options.rooms = []">
                  <ion-icon slot="icon-only" name="close" aria-hidden="true"></ion-icon>
                </ion-button>
              }
              </ion-select>
            </ion-col>
            <ion-col>
              <ion-select
                type="text"
                fill="outline"
                label="Room"
                interface="popover"
                labelPlacement="floating"
                [disabled]="options.rooms.length == 0"
                [(ngModel)]="filters.room"
              >
            
              @for(room of options.rooms; track room.id) {
                <ion-select-option [value]="room"> {{room.code}} </ion-select-option>
              }

              @if (filters.room != null) {
                <ion-button fill="clear" slot="end" (click)="filters.room = null">
                  <ion-icon slot="icon-only" name="close" aria-hidden="true"></ion-icon>
                </ion-button>
              }

              </ion-select>
            </ion-col>
          </ion-row>

          <!-- Date and duration -->
          <ion-row class="ion-align-items-center">
            <ion-col size="1">
              <p class="timePickerDescriptor">Date: </p>
            </ion-col>
            <ion-col size="11" size-sm="5" style="display: flex; align-items: center; justify-content: center;">
              <ion-button
                size="small"
                color="light"
                style="margin-right: 10px;"
                (click)="minusOneDay();">
                <ion-icon slot="icon-only" name="chevron-back-outline"></ion-icon>
              </ion-button>
              <ion-datetime-button datetime="finderDate">
              </ion-datetime-button>
              <ion-button
                size="small"
                color="light"
                style="margin-left: 10px;"
                (click)="plusOneDay();">
                <ion-icon slot="icon-only" name="chevron-forward-outline"></ion-icon>
              </ion-button>
            </ion-col>
            <ion-col size="1" >
              <p class="timePickerDescriptor">From: </p>
            </ion-col>
            <ion-col size-sm="2">
              <ion-datetime-button datetime="finderStartHour"></ion-datetime-button>
            </ion-col>
            <ion-col size="1">
              <p class="timePickerDescriptor">To: </p>
            </ion-col>
            <ion-col size-sm="2">
              <ion-datetime-button datetime="finderEndHour"></ion-datetime-button>
            </ion-col>
          </ion-row>

          <!-- Capacity and Workstations -->
          <ion-row  class="ion-align-items-center">
            <ion-col>
              <ion-select
                type="number"
                fill="outline"
                label="Workstation"
                interface="popover"
                labelPlacement="floating"
                [(ngModel)]="filters.workstationType"
              >

              @for (workstation of options.workstations; track workstation) {
                <ion-select-option [value]="workstation"> {{roomService.formatWorkstation(workstation)}} </ion-select-option>
              }

              @if (filters.workstationType != null) {
                <ion-button fill="clear" slot="end" (click)="filters.workstationType = null">
                  <ion-icon slot="icon-only" name="close" aria-hidden="true"></ion-icon>
                </ion-button>
              }
              </ion-select>
            </ion-col>
          </ion-row>
          <ion-row  class="ion-align-items-center">
            <ion-col>
              <ion-input
                type="number"
                fill="outline"
                label="Capacity"
                interface="popover"
                labelPlacement="floating"
                [clearInput]="true"
                [(ngModel)]="filters.capacity"
              />
            </ion-col>
            <ion-col>
              <ion-input
                type="text"
                fill="outline"
                label="Workstation nr."
                interface="popover"
                labelPlacement="floating"
                [disabled]="filters.workstationType == null"
                [clearInput]="true"
                [(ngModel)]="filters.workstationCount"
              />
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-button
                style="margin-left: 0px; margin-right: 0px;"
                expand="block"
                (click)="findRooms(); isFilterMenuOpen = false;">
                Find rooms
              </ion-button>
            </ion-col>
          </ion-row>
        }
        <ion-row>
          <ion-button shape="round" size="small" style="margin: auto;" (click)="isFilterMenuOpen = !isFilterMenuOpen">
            <ion-icon slot="icon-only" [name]="isFilterMenuOpen ? 'chevron-up-outline' : 'chevron-down-outline'"></ion-icon>
          </ion-button>
        </ion-row>
      </ion-card-content>
    </ion-card>

    @for(timeslot of timeslots; track timeslot) {
      <ion-card (click)="navigateToCreateReservationPage(timeslot)">
        <ion-card-header>
          <ion-card-title>Building {{timeslot.buildingCode}} - Room {{ timeslot.code }}</ion-card-title>
          <ion-card-subtitle>
            <b>{{ timeslot.start.split('T')[1].slice(0, -3) }} - {{ timeslot.end.split('T')[1].slice(0, -3) }}</b>
          </ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          Capacity: {{ timeslot.capacity }} 
          
          @if (timeslot.workstationType != null) {
            <br>
            {{ roomService.formatWorkstation(timeslot.workstationType) }}s: {{ timeslot.workstationCount }}
          }
          <!-- Workstation number: 10 <br> -->
          <!-- <ion-list>
            <ion-item>
              <ion-label>Capacity</ion-label>
              <ion-badge color="primary" slot="start"> {{ timeslot.capacity }} </ion-badge>
            </ion-item>
            @if (timeslot.workstationType != null) {
              <ion-item>
                <ion-label>{{ roomService.formatWorkstation(timeslot.workstationType) }}</ion-label>
                <ion-badge color="tertiary" slot="start">{{ timeslot.workstationCount }} </ion-badge>
              </ion-item>
            }
          </ion-list> -->
        </ion-card-content>
      </ion-card>
    }
  </ion-grid>

  <!-- Date picker -->
  <ion-modal [keepContentsMounted]="true">
    <ng-template>
      <ion-datetime
        #finderDatePicker
        id="finderDate"
        presentation="date"
        required="true"
        [(ngModel)]="filters.date"
        (ionChange)="finderDatePicker.cancel(true)">
      </ion-datetime>
    </ng-template>
  </ion-modal>

  <!-- Start hour -->
  <ion-modal [keepContentsMounted]="true">
    <ng-template>
      <ion-datetime
        #finderStartHourPicker
        id="finderStartHour"
        presentation="time"
        hourCycle="h23"
        minuteValues="0,30"
        [(ngModel)]="filters.startHour"
        (ionChange)="this.startHourChanged = true"
        required="true">
      </ion-datetime>
    </ng-template>
  </ion-modal>

  <!-- End hour -->
  <ion-modal [keepContentsMounted]="true">
    <ng-template>
      <ion-datetime
        #finderEndHourPicker
        id="finderEndHour"
        presentation="time"
        hourCycle="h23"
        minuteValues="0,30"
        [min]="filters.startHour"
        [(ngModel)]="filters.endHour"
        (ionChange)="this.endHourChanged = true"
        required="true">
      </ion-datetime>
    </ng-template>
  </ion-modal>
</ion-content>
